<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.employee.in.custom.DepartmentCustomMapper">


	<!-- S qlq -->
	<!-- S 查询部门树 -->
	<select id="getDepartmentTreeForExam" resultType="map"
		parameterType="String">
		SELECT
		departmentId,upDepartmentId,departmentName FROM department
		<if test="value != null">
			where departmentId like '${value}%'
		</if>
	</select>
	<select id="getCountByCondition" resultType="_int"
		parameterType="map">
		select count(departmentId) from department
		<where>
			<include refid="query_department_where"></include>
		</where>
	</select>
	<select id="getDepartmentInfoByCondition" resultType="map"
		parameterType="map">
		SELECT
		depart.departmentid,
		depart.updepartmentId,
		depart.departmentname,
		depart.departmenttype,
		depart.departprojectnames,
		(SELECT
		departmentName
		FROM
		department
		WHERE
		departmentId = depart.upDepartmentId) AS
		upDepartName,
		depart.employeeName,
		depart.sort,
		depart.phone,
		@a:= (SELECT
		COUNT(employeeId)
		FROM
		employee_in
		WHERE departmentId =
		depart.departmentId) AS perNum,
		@b:=IFNULL((SELECT SUM(empInMinusNum)
		FROM
		emplyin_breakrules, employee_in
		WHERE
		emplyin_breakrules.empInEmployeeId = employee_in.employeeId AND
		employee_in.departmentId = depart.departmentId
		<if test="fstarttime != null">
			and empInBreakTime &gt;= #{fstarttime}
		</if>
		<if test="fendtime != null">
			and empInBreakTime &lt;= #{fendtime}
		</if>
		AND empInBreakTime LIKE CONCAT(Year(CurDate()),'%')
		),0) AS totalMinus,
		TRUNCATE(IFNULL(@b/@a,0),3) AS jiaquan
		FROM
		department depart
		<where>
			<include refid="query_department_where"></include>
		</where>
		ORDER BY
		<if test="fstarttime != null or fendtime != null">
			jiaquan desc,CONVERT(departmentname USING gbk)
		</if>
		<if test="fstarttime == null and fendtime == null">
			jiaquan desc,CONVERT(departmentname USING gbk)
		</if>

		<include refid="query_department_limit"></include>
	</select>
	<!--查询部门的条件 -->
	<sql id="query_department_where">
		<if test="updepartmentid!=null">
			and updepartmentid=#{updepartmentid}
		</if>
		<if test="departmentId != null">
			AND departmentId like '${departmentId}%'
		</if>
		<if test="departType != null">
			AND departmentType=#{departType}
		</if>
		<if test="departmentname!=null">
			and departmentname like '%${departmentname}%'
		</if>
		<if test="1 == 1">
			and departmentid !='01'
		</if>
	</sql>
	<sql id="query_department_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
	<!-- E 查询部门树 -->

	<!-- E qlq -->


	<!--S zhangwenyi -->

	<!-- 查询分页 -->
	<sql id="queryPage_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>



	<!-- 按条件查出所有的部门 -->
	<select id="findDepartmentByCondition" resultType="cn.xm.exam.bean.employee.in.Department"
		parameterType="hashmap">
		SELECT * FROM department

		<where>
			<include refid="query_department_where"></include>
			and departmentid !='01'
		</where>
		order by sort DESC
		<include refid="queryPage_limit"></include>

	</select>

	<!-- 得到符合该条件的部门数量 -->
	<select id="getDepartmentCountByCondition" resultType="int"
		parameterType="hashmap">
		SELECT count(departmentid) FROM department
		<where>
			<include refid="query_department_where"></include>
		</where>
	</select>

	<!-- 查询机构树信息 -->
	<select id="getDepartmentTree" resultType="map" parameterType="string">
		select departmentid,
		updepartmentid,departmentname
		FROM department
		<if test="value != null">
			where departmentId like '${value}%'
		</if>
	</select>

	<!-- 根据上级机构Id查询下一个要插入的下一级机构Id -->
	<select id="getNextDepartmentId" parameterType="string"
		resultType="string">
		SELECT MAX(departmentid) FROM department WHERE
		updepartment=#{updepartment}
	</select>

	<!-- 通过id得到相应的name -->
	<select id="getDepartmentNameById" parameterType="string"
		resultType="string">
		SELECT departmentname FROM department WHERE
		departmentid=#{departmentid}
	</select>

	<!-- 通过id得到相应的部门 -->
	<!-- <select id="getDepartmentNameById" parameterType="string" resultType="string"> 
		SELECT * FROM department WHERE departmentname=#{departmentname} </select> -->

	<!-- 通过name得到相应的id -->
	<select id="getIdByDepartmentName" parameterType="string"
		resultType="string">
		SELECT departmentid FROM department WHERE
		departmentname=#{departmentname}
	</select>

	<!-- 通过上级id得到下级部门数量 -->
	<select id="getDepartmentCountByUpId" parameterType="string"
		resultType="int">
		select count(*) from department where
		updepartmentid=#{updepartmentid};
	</select>

	<!-- 通过id得到下级部门最大id -->
	<select id="getMaxDepartmentId" parameterType="string"
		resultType="string">
		SELECT MAX(departmentid) FROM department WHERE
		updepartmentid=#{updepartmentid}


	</select>

	<select id="getEmployeeInCountsById" parameterType="string"
		resultType="int">
		select COUNT(*) from employee_in where
		departmentid=#{departmentid};
	</select>

	<!-- 得到该部门下的所有员工的idcode -->
	<select id="getIdcodeListAll" resultType="string">
		SELECT idCode
		from
		employee_in;
	</select>


	<!-- 分页查询该部门下的所有员工的所有违章信息 -->
	<sql id="queryBreakrulesCaseInfo_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
	<select id="getBreakrulesCaseInfoByCondition" resultType="hashmap"
		parameterType="hashmap">
		SELECT
		employee_in.name,emplyin_breakrules.empInBreakContent,emplyin_breakrules.empInBreakTime,emplyin_breakrules.empInMinusNum
		FROM employee_in,department,emplyin_breakrules where
		department.departmentid=#{breakrulesbumen} and
		department.departmentId=employee_in.departmentId and
		employee_in.employeeId=emplyin_breakrules.empInEmployeeId
		<if test="fstarttime!=null">
			and emplyin_breakrules.empInBreakTime &gt;= #{fstarttime}
		</if>
		<if test="fendtime!=null">
			and emplyin_breakrules.empInBreakTime &lt;= #{fendtime}
		</if>
		AND  emplyin_breakrules.empInBreakTime LIKE CONCAT(Year(CurDate()),'%')
		order by
		emplyin_breakrules.empInBreakTime DESC
		<include refid="queryBreakrulesCaseInfo_limit"></include>
	</select>

	<!--该部门下所有员工的所有违章数 -->
	<!-- 通过departmentid得到该部门的员工数量 -->
	<select id="getBreakrulesCountByDepartmentId" resultType="int"
		parameterType="map">
		SELECT count(emplyin_breakrules.empInBreakId) FROM
		employee_in,department,emplyin_breakrules where
		department.departmentid=#{breakrulesbumen} and
		department.departmentId=employee_in.departmentId
		<if test="fstarttime!=null">
			and emplyin_breakrules.empInBreakTime &gt;= #{fstarttime}
		</if>
		<if test="fendtime!=null">
			and emplyin_breakrules.empInBreakTime &lt;= #{fendtime}
		</if>
		<if test="1 == 1">
			and
			employee_in.employeeId=emplyin_breakrules.empInEmployeeId;
		</if>

	</select>

	<!--E zhangwenyi -->

	<!--S lxy -->
	<!-- 根据部门名称找到对应的部门编号 -->
	<select id="getDeptIdByDeptName" parameterType="string"
		resultType="string">
		select departmentId
		from department
		where departmentName =
		#{departmentName}
	</select>
	<!--E lxy -->
	
	<!-- S leilong -->
	<!-- 调用修改部门编号的存储过程 -->
	<select id="updateDepartmentIds" parameterType="map"
		statementType="CALLABLE">
		{call updateDepartmentIds(#{oldDepartmentId,
		jdbcType=VARCHAR, mode=IN}, #{upDepartmentId, jdbcType=VARCHAR,
		mode=IN})}
	</select>
	
	<!-- 部门统计查询 -->
	<!-- 统计内部正式部门个数 -->
	<select id="getDepartmentInFormalCount" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			department		
		WHERE
			departmentType = "0"
		AND upDepartmentId = "01"
	</select>
	
	<!-- 查询内部正式部门统计信息 -->
	<select id="getDepartmentInFormalCountInfo" parameterType="map" resultType="map">
		SELECT *,TRUNCATE(IFNULL(breakNum/employeeNum,0),3) jiaquan
		FROM (
		SELECT
			departmentId,
			departmentName,
			employeeName,
			phone,
			(
				SELECT
					COUNT(*)
				FROM
					employee_in empin,
					department dep
				WHERE
					empin.departmentId LIKE CONCAT(department.departmentId, "%")
				AND empin.departmentId = dep.departmentId
				AND dep.departmentType = "0"
			) employeeNum,
			IFNULL((
				SELECT
					SUM(emplyin_breakrules.empInMinusNum) 
				FROM
					department dep2,
					employee_in empin2,
					emplyin_breakrules
				WHERE
					empin2.departmentId LIKE CONCAT(department.departmentId, "%")
				AND dep2.departmentId = empin2.departmentId
				AND dep2.departmentType = "0"
				AND emplyin_breakrules.empInEmployeeId = empin2.employeeId
				AND emplyin_breakrules.empInBreakTime LIKE concat(YEAR(curdate()), '%')
			),0) breakNum
			
		FROM
			department
		WHERE
			departmentType = "0"
		AND upDepartmentId = "01"
		)p
		ORDER BY jiaquan DESC
		<include refid="query_page_limit"></include>
	</select>
	
	<!-- 统计内部长委单位个数 -->
	<select id="getDepartmentInToDoCount" parameterType="map" resultType="int">
		SELECT
			count(DISTINCT departmentName)
		FROM
			(
				SELECT
					departmentName,
					departmentId,
					phone,
					employeeName,
					(SELECT count(*) FROM employee_in WHERE departmentId LIKE CONCAT(department.departmentId, "%")) employeeNum,
					IFNULL(
						(
							SELECT
								SUM(emplyin_breakrules.empInMinusNum)
							FROM
								emplyin_breakrules,
								employee_in,
								department dep
							WHERE
								emplyin_breakrules.empInEmployeeId = employee_in.employeeId
							AND employee_in.departmentId LIKE CONCAT(department.departmentId, "%")
							AND dep.departmentId = employee_in.departmentId
						),
						0
					) breakNum
				FROM
					department
				WHERE
					upDepartmentId IN (SELECT departmentId FROM department WHERE departmentName LIKE '长委%')
				ORDER BY
					CONVERT (departmentName USING gbk) DESC
			) p
	</select>
	
	<!-- 查询内部长委统计信息 -->
	<select id="getDepartmentInToDoCountInfo" parameterType="map" resultType="map">
		SELECT *,TRUNCATE(IFNULL(breakNum/employeeNum,0),3) jiaquan
			from (
			SELECT
				GROUP_CONCAT(departmentId) departmentIds,
				p.departmentName,
				employeeName,
				phone,
				SUM(employeeNum) employeeNum,
				SUM(breakNum) breakNum
			FROM
				(
					SELECT
						departmentName,
						departmentId,
						phone,
						employeeName,
						(SELECT count(*) FROM employee_in WHERE departmentId like CONCAT(department.departmentId,"%")) employeeNum,
						IFNULL(
							(
								SELECT
									SUM(emplyin_breakrules.empInMinusNum)
								FROM
									emplyin_breakrules,
									employee_in,
									department dep
								WHERE
									emplyin_breakrules.empInEmployeeId = employee_in.employeeId
								AND emplyin_breakrules.empInBreakTime LIKE concat(YEAR(curdate()), '%')
								AND employee_in.departmentId like CONCAT(department.departmentId,"%")
								AND dep.departmentId = employee_in.departmentId
							),
							0
						) breakNum
					FROM
						department
					WHERE
						upDepartmentId IN (SELECT departmentId FROM department WHERE departmentName LIKE '长委%')
					ORDER BY
						CONVERT (departmentName USING gbk) DESC
				) p
			GROUP BY
				departmentName
			) q
			ORDER BY jiaquan DESC
			<include refid="query_page_limit"></include>
	</select>
	
	<!-- 查询分页 -->
	<sql id="query_page_limit">
		<!-- 分页索引 -->
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
	
	<!-- 查询内部正式单位和员工数 -->
	<select id="getFormalDepartmentAndEmpNum" resultType="map">
		SELECT count(departmentId) departmentNum,sum(employeeNum) employeeNum
			FROM (
			SELECT
				departmentId,
				departmentName,
				employeeName,
				phone,
				(
					SELECT
						COUNT(*)
					FROM
						employee_in empin,
						department dep
					WHERE
						empin.departmentId LIKE CONCAT(department.departmentId, "%")
					AND empin.departmentId = dep.departmentId
					AND dep.departmentType = "0"
				) employeeNum
			FROM
				department
			WHERE
				departmentType = "0"
			AND upDepartmentId = "01"
			)p
	</select>
	
	<!-- 内部长委单位和员工数 -->
	<select id="getToDoDepartmentAndEmpNum" resultType="map">
		SELECT count(departmentName) departmentNum,sum(employeeNum) employeeNum
			from (
			SELECT
				GROUP_CONCAT(departmentId) departmentIds,
				p.departmentName,
				employeeName,
				phone,
				SUM(employeeNum) employeeNum
			FROM
				(
					SELECT
						departmentName,
						departmentId,
						phone,
						employeeName,
						(SELECT count(*) FROM employee_in WHERE departmentId like CONCAT(department.departmentId,"%")) employeeNum,
						IFNULL(
							(
								SELECT
									SUM(emplyin_breakrules.empInMinusNum)
								FROM
									emplyin_breakrules,
									employee_in,
									department dep
								WHERE
									emplyin_breakrules.empInEmployeeId = employee_in.employeeId
								AND emplyin_breakrules.empInBreakTime LIKE concat(YEAR(curdate()), '%')
								AND employee_in.departmentId like CONCAT(department.departmentId,"%")
								AND dep.departmentId = employee_in.departmentId
							),
							0
						) breakNum
					FROM
						department
					WHERE
						upDepartmentId IN (SELECT departmentId FROM department WHERE departmentName LIKE '长委%')
					ORDER BY
						CONVERT (departmentName USING gbk) DESC
				) p
			GROUP BY
				departmentName
			) q
	</select>
	<!-- E leilong -->

</mapper>