.panel-body{
    padding: 0;
    width:90%;
    margin:0;
}
.el_addEPleft {
    width: 60%;
}

.el_addEPleft table tr {
    border-bottom: 1px solid #ddd;
}
.table th{
	color:white;
}
#el_saveA{
    text-decoration:none
}
.el_addEPleft table tr td:first-child {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width:180px !important;
}
.el_addEPleft table tr td:last-child {
    border-right: 1px solid #ddd;
    padding:0;
}

.el_addEPleft table input, .el_addEPleft table select, .el_addEPleft table textarea {
    height: 35px;
    padding: 0;
    padding-left: 10px;
    font-size: 12px;
    border: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;
}
.el_addEPleft table textarea{
    resize: vertical;
    line-height: 35px
}
.el_addEPtiku {
    height: 500px;
    position: fixed;
    top: 103px;
    right: 15px;
    width: 37%;
    border: 1px solid #ccc;
    padding: 0;
}
#el_tikuTitle{
    font-size: 15px;
    padding:10px 20px;
    border-bottom: 1px solid #ccc;
}

.el_addEPtiku .panel-default {
    height: 100%;
}

/*查询*/
.el_addEPquery {
	width:100%;
	margin:0;
    padding: 10px;
    border: none;
    position: relative;
}

/*刷新统计*/
.el_addEPtongji {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#el_resetButton {
    float: right;
    margin-top: 10px;
    background-color: #F0F0EE;
}

.el_addPopration a {
    color: white;
    text-decoration: none;
}
/*试题统计*/
.el_ExamStatistic {
    clear: both;
    margin-bottom: 0;
    width: 100%;
    height: 160px;
    box-shadow: 0 2px 1px #ccc;
    padding: 1px
}
#statisticTable {
    width: 98%;
    height: 90%;
    border:1px solid #666;
    border-collapse: separate;
    background-color:#b6e7fc;
    margin: 10px auto;
    border-radius: 5px;
}
#statisticTable th{
    text-align: center;
    height:40px;
    line-height:40px;
    border-right: 1px solid #aaa;
    font-weight:bold;
}
#statisticTable th:last-child{
    border-right: none;
}
#statisticTable td{
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    text-align: center;
    height:30px;
    line-height:30px;
}
#statisticTable tr:first-child td:last-child{
    border-right:none;
}

.el_zongfen {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.el_addEPtikuang {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    position: relative;
}

/*删除所有*/
.el_tiBoxMainDelBox {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #2b669a;
}

/*添加试题*/
.el_tiBoxAdd {
    color: #2b669a;
}

.el_tiBoxAdd:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*删除单个*/
.el_tiBoxDel {
    color: #2b669a;
}

.el_tiBoxDel:hover {
    text-decoration: underline;
    cursor: pointer;
}

.el_tiBoxli {
    border: 1px solid #ccc;
    min-height: 60px;
    list-style: none;
    margin-bottom: 10px;
    height: auto;
}

.el_tiBoxli ul {
    width: 100%;
    height: 100%;
    position: relative;
}

/*提的内容*/
.el_addEPBoxlili {
    float: left;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 86%;
    cursor:pointer;
}

/*动态添加的编辑按钮*/
/* .tm_btitlt {
    width: 100%;
} */


.bianji {
    float: right;
    margin-right: 100px;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(43, 102, 154);
}

/*分值，内容，删除*/
.el_BoxliScore {
    position: absolute;
    left: 20px;
    min-width: 95px;
    width: 15%;
}

.el_BoxliScore input {
    border-radius: 5px;
}

.el_BoxliContent {
    position: absolute;
    left: 130px;
    width: 60%;
    max-width: 400px;
    overflow: hidden;
}

/*添加试题的盒子li */
.el_BoxliAdd {
    position: absolute;
    right: 60px;
}

.el_BoxliDel {
    position: absolute;
    right: 20px;
}



/*<!--左侧标题修改-->*/
        /*课修改的标题*/
.el_modifiedTitle {
    text-align: center;
    padding: 2px;
    padding-left: 5px;
    width:180px;
    background-color: #fff;
    border-radius: 5px;
}
.el_modifiedGrade{
    text-align: center;
    padding: 2px;
    padding-left: 5px;
    width:50px;
    background-color: #fff;
    border-radius: 5px;
}
/*<!--索引-->*/
    /*搜索边框*/
.el_qlmQuery {
    min-width: 150px;
    float: left;
    margin: 5px;
    margin-right: 20px;
    width: auto;
    max-width: 40%;
}

.el_qlmQuery .input-group .form-control {
    height: 30px;
    border-radius: 4px;
    width: 200px;
    font-size: 12px;
}

.el_qlmQuery2 {
    min-width: 150px;
    float: left;
    margin: 5px;
    margin-right: 20px;
    width: 450px !important;
    max-width: 350px !important;
}
.el_qlmQuery2 .form-control{
    width:350px !important;
    max-width: 260px !important;
}

.el_qlmQuery3 {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

/*span改变样式后的样子*/
.el_spans {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

#el_submit {
    clear: both;
    float: right;
    margin-right: 20px;
    display: block;
}

/*<!--右侧-->*/
        /*试题*/
.el_queryQuestions {
    height: 370px;
    overflow-x: hidden;
    overflow-y: auto;
    position:relative;
}
.el_drag{
    padding: 5px 0;
    padding-right:30px;
    display: block;
    width: 100%;
    /*定义一个固定的高，点击可以设置高位auto*/
    height:30px;
    overflow: hidden;
    position:relative;
}
/*选择试题的复选框*/
.el_drag>input{
    position:absolute;
    left:5px;
    top:3px;
    width: 15px;
    height: 15px;
    background: #2aabd2;
    box-shadow: 0px 1px 1px rgba(100,100,100,5);
}
.el_drag .movie_box{
    display: block;
    width: 90% !important;
    position:relative !important;
    top:-2px;
    left:30px !important;
    margin: 0 !important;
    font-size: 13px !important;
    border: none !important;
}
.el_drag .movie_box:hover{
    border: none !important;
}
.el_drag .movie_box .wjdc_list{
    margin-bottom: 5px!important;
    margin-top: 5px!important;
}
.el_drag .movie_box .tm_btitlt{
    padding: 2px !important;
}

/*展开*/
.el_unflod{
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    position:absolute;
    right:0;
    top:0;
    z-index: 20;
}
.el_unflod:hover{
    cursor:pointer;
    outline:1px solid #ddd;
    -moz-outline-radius: 5px;
}

/*<!--添加试题-->*/
.el_queryBox form {
    margin-top: 20px;
}

.form-control {
    height: 30px;
    font-size: 12px;
    border-radius: 3px;
    width: 350px;
}

#el_panduanChoose li {
    list-style: none;
    display: inline-block;
    width: 170px;
}

#el_panduanChoose li label {
    font-weight: 500;
}

#el_panduanChoose li label input {
    position: relative;
    top: 7px;
}

#el_panduanChoose li span:nth-child(2) {
    font-weight: 700;
}

/*解析*/
.el_quesionAnaly {
    margin-top: 10px;
    width: 100%;
}

.el_quesionAnaly textarea {
    width: 100%;
}

/*选项*/
.kzjxx_iteam {
    padding-top: 2px;
    height: 40px;
    position: relative;
}

.kzqy_czbut {
    position: absolute;
    top: 3px;
    right: 10px;
    height: 25px;
    line-height: 17px;
}

.kzqy_czbut a {
    height: 25px;
    text-decoration: none;
    font-size: 12px;
}

.dx_box {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
/*试题标题*/
.elquesTitle{
    width:100%;
    border-bottom:1px solid #ccc;
    box-shadow:0 1px 2px #ccc;
    padding:10px 20px;
}

/*题库隐藏显示图标*/
#show_tiku{
    position:absolute;
    right:-10px;
    top:100px;
    width:40px;
}
#hide_tiku{
    position:absolute;
    right:0;
    top:5px;
    width:30px;
}
