* {
	margin: 0;
	padding: 0;
}

#el_header {
	width: 100%;
	height: 50px;
	background-color: rgb(51,122,183);
	color:white;
}

#el_headerLeftLogo {
	float: left;
	width: 230px;
	height: 50px;
	margin-left: 50px;
	font-size: 15px;
	padding-top:4px;
}
#el_headerLeftLogo a{
	display: block;
	height:100%;
	float:right;
	width:182px;
	text-decoration:none;
	color:white;
	text-align: center;
	text-shadow:1px 2px 1px #000;
}

#el_headerLeftLogo1 {
	float: left;
	width: 230px;
	height: 50px;
	margin-left: -50px;
	font-size: 20px;
	padding-top:13px;
}
#el_headerLeftLogo1 a{
	display: block;
	height:100%;
	float:right;
	width:182px;
	text-decoration:none;
	color:white;
	text-align: center;
}



#el_headerLeftLogo img{
	position:relative;
	top:4px;
}

#el_headerRightinfo {
	float: right;
	height: 50px;
	position: relative;
}
#el_opration img{
	position:relative;
	top:3px;
}
#el_systemTime {
	width: 200px;
	height: 25px;
	font-size: 10px;
	position: absolute;
	right: 15px;
	top: 3px;
}

#el_opration {
	width: 350px;
	position: absolute;
	bottom: 4px;
	right: 0;
}

#el_opration ul li {
	float: left;
	list-style: none;
	font-size: 13px;
	margin-left: 40px;
	color:white;
}

#el_indexPage {
	display: inline-block;
	color:white;
}