/*通用区*/
*{
    padding:0;
    margin:0;
    font-family:"宋体";
}

#inpstart{
    margin-bottom:7px;
}

.error{
	color:red;
	font-size:13px !important;
}
/*
 * 系统管理 > 权限管理
 */
/*
索引内容
*/
/*添加部门人员的索引*/
.el_queryBox {
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
    height:auto;
    padding:0 30px;
    margin:0 auto;
}

.el_queryButton {
    position: absolute;
    right: 50px;
    bottom: 15px;
}
.form-control {
    height: 25px;
    border-radius: 3px;
    width: 350px;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color:white;
}
/*搜索边框*/
.el_qlmQuery {
    min-width: 250px;
    width: 25%;
    float: left;
    margin: 10px;
}
/*span改变样式后的样子*/
.el_spans {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
/*单选框*/
.el_radioBox{
    font-size: 13px;
    margin-left: 10px;
}
/*索引中的下拉框*/
.selectpicker {
    padding: 0;
    padding-left: 10px;
}

/*
标题
*/
.el_mainHead {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding-bottom:20px;
    margin-bottom:0;
    font-size:15px;
}

/*
主要部分
*/
/*主页*/
.el_queryBoxMainPage {
    min-width: 970px;
    width: 100%;
    display: block;
    padding:0 30px 40px 5px;;
}
.panel{
    box-shadow:none;
}
.panel-body{
    border:none;
}
/*主要部分*/
.el_Mainmain {
    position: relative;
    top: -10px;
}
/*选择员工*/
.el_departPersons .panel-body{
    padding:10px;
}

/*树*/
ul.ztree {
    width: 100%;
    background-color: white;
    height: auto;
    border:0;
    padding-bottom:30px;
    text-align:center;
}
/*树的小三角*/
.el_smallTriangle {
    position: absolute;
    right: 6px;
    top: 10px;
    z-index: 20;
}
/*选择角色,选择部门,配置角色*/
#el_chooseDepart1, #treeDemo10{
    width: 310px;
}
#treeDemo10{
    overflow: visible;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 14px;
    border: 1px solid #ccc;
    z-index: 100;
}
/*多选*/
#el_chooseDepart1 {
    background-color: white;
    min-height: 25px;
    height: auto;
    width: 100%;
    border-color: rgb(204, 204, 204);
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    padding-top: 2px;
    box-shadow: 0 1px 1px #eee inset;
}

#el_chooseDepart1:active{
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#el_chooseDepart1 li {
    list-style: none;
    width: auto;
    margin-right: 10px;
    float: left;
    background-color: white;
}

/*分页*/
#paginationIDU{
    color:black;
    height:51px;
    background-color:white;
    padding:8px;
    float:left;
}
.pagination-link{
    border:1px solid #ccc;
}
#paginationIDU table{
    position:relative;
    top:-10px;
}
#paginationIDU table tbody tr:first-child td:nth-child(2){
    position:relative;
    top:10px;
}


/*
右侧内容
*/
/*表格去除a标签的下划线*/
.table a{
    text-decoration:none;
    color:darkblue;
    padding:2px 6px;
}
.table a:hover{
    background-color:rgb(250,250,250);
    color:dodgerblue;
}

/*
模态框中的内容
*/
.el_modellist {
    margin: 10px;
    margin-bottom: 15px;
    width: 500px;
    font-size: 15px;
}
/*单选按钮的字体大小*/
.el_modellist  label{
    font-size:13px;
}
.el_modelinput {
    width: 300px;
}