/*
examManage 索引树
*/
#treeDemo2 {
    width: 215px;
    overflow: visible;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 14px;
    border: 1px solid #ccc;
    z-index: 100;
}

/*单选*/
#log {
    background-color: white;
    height: 25px;
    width: 100%;
    border-color: rgb(204, 204, 204);
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    padding-top: 2px;
    box-shadow: 0 1px 1px #eee inset;
}

#log:active {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#log li {
    background-color: white;
    position:relative;
    top:-7px;
}


/*
模态树 选择角色,选择部门,配置角色
*/
#treeDemo10 {
    width: 310px;
}
#departmentTree_QLM2,#treeDemo10 {
    overflow: visible;
    padding: 10px;
    height: auto;
    position: absolute;
    top: 14px;
    border: 1px solid #ccc;
    z-index: 100;
}




/*多选*/
#el_chooseDepart {
    background-color: white;
    min-height: 25px;
    height: auto;
    width: 100%;
    border-color: rgb(204, 204, 204);
    border-radius: 0 3px 3px 0;
    padding-left: 10px;
    padding-top: 2px;
    box-shadow: 0 1px 1px #eee inset;
}

#el_chooseDepart:active {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#el_chooseDepart li {
    list-style: none;
    width: auto;
    margin-right: 10px;
    float: left;
    background-color: white;
}