#el_showNewContent p{
    margin:0 20px;
    text-indent: 2em;
    line-height: 20px;
    font-size:14px;
}

/*上传图片*/
#preview{
    width:100%;
    height:220px;
    overflow-y: auto;
}
.upload_append_list{
    margin:7px !important;
    height:120px !important;
}

.el_qlmContent{
	width:100%;
}