    /*培训资料的信息*/
.el_parperInfo {
    width: 80%;
    height: 350px;
    margin: 5px auto;
    font-size: 14px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 10px;
    padding-top:20px;
    text-align: center;
    margin-bottom: 40px;
    position:relative;
}

.el_parperInfo table {
    width: 100%;
}

.el_parperInfo table tr {
    height: 35px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.el_parperInfo table tr td:first-child {
    border-right: 1px solid #eee;
    width: 150px;
}

/*下载*/
.el_loadOpration {
    position:absolute;
    bottom:0;
    left:300px;
    width: 100%;
    height: 40px;
}
