/*内容*/
body {
    background-color: #ccc;
}

.container {
    background-color: rgb(254, 254, 254);
    width: 50%;
    margin-top: 20px;
    padding: 0;
    box-shadow: 1px 1px 2px #aaa, -1px -1px 2px #aaa;
    border-radius: 8px;
}

.container table {
    width: 90%;
    height: 200px;
    margin: 30px auto;
}

.container span {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #888;
    text-align: center;
    font-size: 22px;
    color: white;
    border-radius: 8px 8px 0 0;
}

.container table tr {
    width: 90%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.container table tr td:first-child {
    padding-left: 20px;
    width: 200px;
    background-color: rgb(249, 249, 249)
}

.container table tr td:last-child {
    text-align: center;
}

#el_getScore {
    text-shadow: 1px 1px 4px #ff0000;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 宋体;
    text-align: center;
}

/*试卷解析*/
#el_parperAnaly {
    width: 200px;
    display: block;
    position: absolute;
    right: 26%;
    margin-top: 10px;
    box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #aaa;
}

#el_parperAnaly a {
    text-decoration: none;
    color: white;
}
