<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.exam.custom.ExampaperCustomMapper">
	<!-- 开启二级缓存 -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache" /> -->
	<!-- S 分页查询试卷基本信息 -->
	<!-- SELECT COUNT(paperId) FROM exampaper WHERE title LIKE '%阳城%' AND LEVEL=1 -->
	<select id="getPaperTotalByCondition" parameterType="hashmap"
		resultType="int">
		SELECT COUNT(paperId) FROM exampaper
		<where>
			<include refid="query_papaer_where"></include>
		</where>
	</select>
	<select id="findPapersByCondition" parameterType="hashmap"
		resultType="cn.xm.exam.bean.exam.Exampaper">
		SELECT * FROM exampaper
		<where>
			<include refid="query_papaer_where"></include>
		</where>
		ORDER BY MAKETIME DESC
		<include refid="query_paper_limit"></include>
	</select>

	<!--S 查询条件 -->
	<!-- 查询试卷条件 -->
	<sql id="query_papaer_where">
		<if test="title!=null">
			and title like '%${title}%'
		</if>
		<if test="departmentId != null">
			AND departmentId=#{departmentId}
		</if>
		<if test="level!=null">
			and level=#{level}
		</if>
		<!--  试卷答案代表试卷状态-->
		<if test="paperStatus!=null">
			and paperanswer=#{paperStatus}
		</if>
	</sql>
	<!--分页条件 -->
	<sql id="query_paper_limit">
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
	<!--E 查询条件 -->

	<!--E 分页查询试卷基本信息 -->


	<!-- S 查询一份试卷完整信息 -->
	<!-- 试卷映射map -->
	<resultMap type="cn.xm.exam.bean.exam.Exampaper" id="paperAllInfo">
		<!-- 试卷基本信息 -->
		<id column="paperId" property="paperid" />
		<result column="paperScore" property="paperscore" />
		<result column="maketime" property="maketime" />
		<result column="level" property="level" />
		<result column="employeename" property="employeename" />
		<result column="title" property="title" />
		<result column="usetimes" property="usetimes" />
		<result column="description" property="description" />
		<!-- 大题 -->
		<collection property="bigQuestions" ofType="cn.xm.exam.bean.exam.Bigquestion">
			<id column="bigquertionid" property="bigquertionid" />
			<result column="paperid" property="paperid" />
			<result column="bigquestionname" property="bigquestionname" />
			<result column="bigquestionsequence" property="bigquestionsequence" />
			<!-- 题 -->
			<collection property="questions"
				ofType="cn.xm.exam.bean.exam.Exampaperquestion">
				<id column="questionid" property="questionid" />
				<result column="paperid" property="paperid"></result>
				<result column="bigquertionid" property="bigquertionid"></result>
				<result column="questioncontent" property="questioncontent"></result>
				<result column="questionsequence" property="questionsequence"></result>
				<result column="type" property="type"></result>
				<result column="answer" property="answer"></result>
				<result column="analysis" property="analysis"></result>
				<result column="score" property="score"></result>
				<result column="questionsource" property="questionsource"></result>
				<!-- 选项 -->
				<collection property="options"
					ofType="cn.xm.exam.bean.exam.Exampaperoption">
					<id column="optionid" property="optionid" />
					<result column="questionid" property="questionid" />
					<result column="optioncontent" property="optioncontent" />
					<result column="optionsequence" property="optionsequence" />
					<result column="description" property="description" />
					<result column="isanswer" property="isanswer" />
				</collection>
			</collection>
		</collection>
	</resultMap>

	<select id="findExamPaperAllInfoByPaperId" parameterType="string"
		resultMap="paperAllInfo">
		SELECT paper.*,big.*,ques.*,opt.* FROM exampaper
		paper,bigquestion big,exampaperquestion ques,exampaperoption opt WHERE
		paper.paperId=#{value}
		AND paper.paperId = big.paperId AND
		ques.bigquertionid =
		big.bigquertionid AND opt.questionId =
		ques.questionId ORDER BY
		big.bigquestionsequence
		ASC,ques.questionsequence
		ASC,opt.optionsequence ASC
	</select>
	<!-- E 查询一份试卷完整信息 -->

	<!-- S 根据试卷ID增加试卷的使用次数 -->
	<update id="addExampaperUsetimes" parameterType="string">
		UPDATE
		`exampaper` SET useTimes = useTimes+1 WHERE
		paperId=#{value}
	</update>
	<!-- E 根据试卷ID增加试卷的使用次数 -->

	<!-- S 根据试卷ID减少试卷的使用次数 -->
	<update id="minusExampaperUsetimes" parameterType="string">
		UPDATE
		`exampaper` SET useTimes = useTimes-1 WHERE
		paperId=#{value}
	</update>
	<!-- E 根据试卷ID减少试卷的使用次数 -->
		<!-- S动态修改试卷的状态 (归档与未归档)-->
	<update id="updateExampaperPaperanswer">
		UPDATE `exampaper` SET `paperAnswer`=#{paperStatus} WHERE `paperId`=#{paperId}
	</update>
	<!-- E动态修改试卷的状态 -->

</mapper>