<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.trainContent.custom.TraincontentCustomMapper">
	<!-- lixianyuan 9/19 start -->
	<!-- 分页查询:根据组合条件进行分页查询 -->
	<select id="selectTraincontentWithFYCondition" parameterType="map"
		resultType="Traincontent">
		select * from traincontent
		<where>
			<if test="documentName!=null &amp;&amp; documentName!=''">
				and documentName like
				concat(concat('%',#{documentName}),'%')
			</if>
			<if test="departmentName!=null  &amp;&amp; departmentName!='' ">
				and departmentName = #{departmentName}
			</if>
			<if test="level!=null  &amp;&amp; level!='' &amp;&amp; level!='-请选择-'  ">
				and level = #{level}
			</if>
			<if test="departmentId!=null  &amp;&amp; departmentId!=''">
				and departmentId like '${departmentId}%'
			</if>
			<if
				test="knowledgeType!=null &amp;&amp; knowledgeType!='' &amp;&amp; knowledgeType!='-请选择-'  ">
				and knowledgeType = #{knowledgeType}
			</if>
		</where>
		order by upTime desc
		limit #{currentPage},#{currentTotal}
	</select>

	<!-- 根据分页的条件查询一共有多少条记录数 -->
	<select id="selectTraincontentCountWithFYCondition"
		parameterType="map" resultType="int">
		select count(*) from traincontent
		<where>
			<if test="documentName!=null &amp;&amp; documentName!=''">
				and documentName like
				concat(concat('%',#{documentName}),'%')
			</if>
			<if test="departmentName!=null  &amp;&amp; departmentName!='' ">
				and departmentName = #{departmentName}
			</if>
			<if test="level!=null  &amp;&amp; level!='' &amp;&amp; level!='-请选择-' ">
				and level = #{level}
			</if>
			<if test="departmentId!=null  &amp;&amp; departmentId!=''">
				and departmentId like '${departmentId}%'
			</if>
			<if
				test="knowledgeType!=null &amp;&amp; knowledgeType!='' &amp;&amp; knowledgeType!='-请选择-' ">
				and knowledgeType = #{knowledgeType}
			</if>
		</where>
	</select>


	<!-- 以下是和培训学习相关的 start -->

	<!-- 根据资料等级、资料类型(视频资料)、知识点、 当前页页号、每页显示的记录数 的分页查询 -->
	<select id="findStudyTraincontentByFy" parameterType="map"
		resultType="Traincontent">
		select * from traincontent
		<where>
			<if test="level!=null  &amp;&amp; level!=''">
				and level = #{level}
			</if>
			<if test="trainType!=null &amp;&amp; trainType!=''">
				and trainType = #{trainType}
			</if>
			<if test="knowledgeType!=null &amp;&amp; knowledgeType!='' ">
				and knowledgeType = #{knowledgeType}
			</if>
			<if test="departmentId!=null  &amp;&amp; departmentId!=''">
				and departmentId like '${departmentId}%'
			</if>
		</where>
		order by upTime desc
		limit #{currentPage},#{currentTotal}
	</select>
	<!-- 根据资料等级、资料类型(视频资料)、知识点查询一共有多少条记录数 -->
	<select id="findStudyTraincontentByFyCount" parameterType="map"
		resultType="int">
		select count(*) from traincontent
		<where>
			<if test="level!=null  &amp;&amp; level!=''">
				and level = #{level}
			</if>
			<if test="trainType!=null &amp;&amp; trainType!=''">
				and trainType = #{trainType}
			</if>
			<if test="knowledgeType!=null &amp;&amp; knowledgeType!='' ">
				and knowledgeType = #{knowledgeType}
			</if>
		</where>
	</select>



	<!-- 根据资料等级、资料类型(非视频资料)、知识点、 当前页页号、每页显示的记录数 的分页查询 -->
	<select id="findStudyTraincontentByFyDoc" parameterType="map"
		resultType="Traincontent">
		select * from traincontent
		<where>
			<if test="level!=null  &amp;&amp; level!=''">
				and level = #{level}
			</if>
			<if test="trainType!=null &amp;&amp; trainType!=''">
				and trainType != #{trainType}
			</if>
			<if test="knowledgeType!=null &amp;&amp; knowledgeType!='' ">
				and knowledgeType = #{knowledgeType}
			</if>
		</where>
		order by upTime desc
		limit #{currentPage},#{currentTotal}
	</select>

	<!-- 根据资料等级、资料类型(非视频资料)、知识点 查询一共有多少条记录数 -->
	<select id="findStudyTraincontentByFyDocCount" parameterType="map"
		resultType="int">
		select count(*) from traincontent
		<where>
			<if test="level!=null  &amp;&amp; level!=''">
				and level = #{level}
			</if>
			<if test="trainType!=null &amp;&amp; trainType!=''">
				and trainType != #{trainType}
			</if>
			<if test="knowledgeType!=null &amp;&amp; knowledgeType!='' ">
				and knowledgeType = #{knowledgeType}
			</if>
		</where>
	</select>

	<!-- 和培训学习相关的 end -->
	<!-- lixianyuan 9/19 end -->
</mapper>