<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.employee.in.custom.OnlineExamEmployeeInCustomMapper" >
 	
 	<!-- 根据用户ID查询用户表中的相关信息 -->
 	<select id="getOnlineExamUserInfoByEmployeeInId" parameterType="String" resultType="cn.xm.exam.bean.system.User">
 		SELECT * FROM `user` WHERE employeeId=#{value}
 	</select>
 	<!-- 根据用户ID修改用户的登录密码 -->
 	<update id="updateOnlineExamUserInfo" parameterType="map">
 		UPDATE `user` SET `password`=#{newPassword} WHERE employeeId = #{employeeInId}
 	</update>
 	
 	<!-- 根据条件查询前台个人用户的违章信息 -->
 	<select id="getOnlineEmployeeBreakInfoByCondition" parameterType="map" resultType="cn.xm.exam.bean.employee.in.EmplyinBreakrules">
 		SELECT * FROM emplyin_breakrules 
 		<where>
 			<include refid="query_getBreakinfo_where"></include>
 		</where>
 		ORDER BY empInBreakTime DESC 
 		<include refid="query_page_limit"></include>
 	</select>
 	<!-- 根据条件统计前台个人的违章总数 -->
 	<select id="getOnlineEmployeeBreakInfoCountByCondition" parameterType="map" resultType="int">
 		SELECT count(*) FROM emplyin_breakrules
 		<where>
 			<include refid="query_getBreakinfo_where"></include>
 		</where>
 	</select>
 	
 	
 	<!-- 查询条件 -->
 	<sql id="query_getBreakinfo_where">
 		<!-- 员工ID -->
 		<if test="employeeIn_Id != null">
 			and empInEmployeeId = #{employeeIn_Id}
 		</if>
 		<!-- 违章时间段 -->
 		<if test="breakTime_left != null">
 			and empInBreakTime &gt;= #{breakTime_left}
 		</if>
 		<if test="breakTime_right != null">
 			and empInBreakTime &lt;= #{breakTime_right}
 		</if>
 		<!-- 当前年份 -->
 		<if test="current_Year != null">
 			and empInBreakTime LIKE '${current_Year}%'
 		</if>
 	</sql>

 	<!-- 查询分页 -->
	<sql id="query_page_limit">
		<!-- 分页索引 -->
		<if test="index!=null">
			LIMIT #{index},#{currentCount}
		</if>
	</sql>
</mapper>