.banner {
	width: 100%;
	height: 270px;
	position: relative;
	margin: 103px auto;
	margin-bottom: 0;
	overflow: hidden;
}

.banner img {
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	display: block;
	float: left;
}

.el_news {
	width: 80%;
	min-height: 500px;
	position: relative;
	margin: 0 auto;
	padding: 30px 0;
	height:auto;
}

.el_news a {
	color: black;
}

/* 标题  */
.el_middleTitle {
	font-size: 16px;
	font-weight: bolder;
	padding-left: 20px;
	padding-bottom: 0px;
	margin: 4px;
	margin-top: 10px;
}

/* 新闻 */
.el_MiddleContentLi {
	width: 58%;
	height: 450px;
	overflow: auto;
	position: absolute;
	left: 20px;
	top: 30px;
	padding: 0 20px;
	border-right: 2px dotted #aaa;
}
.el_MiddleContentLi ul {
	padding-left: 20px;
}
.el_newsList {
	width: 100%;
	padding: 5px 0px;
	list-style-type: disc;
	font-size: 13px;
}
.el_newsTime {
	float: right;
	font-size: 13px;
	margin-right: 10px;
}

/*  通知*/
.el_rightContent {
	height: auto;
	padding: 0;
	width: 39.5%;
	position: absolute;
	right: 0.5%;
	color: #999;
	padding-left:20px;
}
.el_notifyListUl {
	margin-bottom: 10px;
	height: auto;
	overflow: auto;
	font-size: 13px;
}
.el_notifyList {
	margin: 0 auto;
	width: 90%;
	list-style: decimal;
	padding: 5px 0px;
	padding-left: 0;
}
.el_notifyList a {
	color: #666
}
.el_notifyTime {
	float: right;
}
