@CHARSET "UTF-8";
body {
	/*     background-color: rgb(246,246,246) !important; */
	background-color: white !important;
}

.panel-body {
	min-height: 577px;
	width: 70%;
	margin: 0px auto;
	margin-top: 110px;
	margin-bottom: 30px;
	border: none !important;
	position: relative;
	height: auto;
	background-color: white !important;
	/* box-shadow:0 1px 2px #ccc; */
	height: auto;
}

.panel-body h2 {
	width: 100%;
	height: 90px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	position: relative;
}

#time_person {
	font-size: 13px;
	font-weight: bolder;
	position: absolute;
	top:70px;
	left: 5%;
	margin-top: 30px;
	display: block;
}
#time_person span{
	font-weight:normal;
}
#time_person span:first-child{
	margin-right:30px;
}

p {
	letter-spacing: 0.5px;
	text-indent: 2em;
	line-height: 2em;
	font-size: 15px;
	/*     padding:0 8%; */
	padding: 0 3%;
}
