#el_videodiv, #el_loaddowndiv{
	margin:0;
}
.con {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    margin-top:1px;
    padding-left: 25px;
    padding-bottom:10px;
}

/* 分页 */
.paginationParent{
    		width:70%;
    		min-width:550px;
    		height:50px;
    		margin:0 auto;
    		text-align:center;
    		position:absolute;
    		bottom:20px;
    	}
    	
.el_videoulImg {
    width:100%;
    height:100%;
}

.con ul li {
    width: 250px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}


.txt {
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6); /*透明背景色，不透明其文字内容*/
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-family: "微软雅黑";
}

.txt h3 {
    font-size: 20px;
    font-weight: 100;
    height: 25px;
    line-height: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.txt p {
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/*浏览量*/
.glyphicon {
    float: right;
    position: relative;
    top: 30px;
    right: 0;
}

/*内容2*/
/*图片列表*/
.piclist {
    width: 100%;
    margin: 0 auto;
    margin-top:1px;
    background-color: #fff;
}

.listul {
    margin-left: 0;
    padding-left: 40px;
    overflow: hidden;
    height: auto;
    padding-bottom:20px;
}

.listul li {
    float: left;
    width: 240px;
    height: 260px;
    padding: 5px;
    margin-right: 15px;
    position: relative;
    margin-top: 10px;
}

/*下载专区*/
.el_loaddownimg {
    width: 100%;
}

.el_loaddownspan {
    width: 92%;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left:0;
    text-align: left;
    color: #000;
    font-size: 14px;
    padding: 4%;
    /*text-indent:1em;*/
}


/*索搜区域*/

.el_queryHeader_con {
    height: 100%;
}

.el_queryHeader_con .input-group {
    margin-top: 30px;
}

/*标签页*/
.el_querylabelPage {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.el_querylabelPage ul {
    width: 300px;
    height: 100%;
    margin: 0 auto;
}

.el_querylabelPage ul li {
    float: left;
    width: 100px;
    line-height: 50px;
    height: 100%;
    position: relative;
    top: 2px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style:none;
}

.el_querylabelPage ul li:hover {
    cursor: pointer;
}

.el_querylabelPage ul .active {
    color: blue;
    border-bottom: 3px solid blue;
}

/*专区*/
.el_ContentMainPage {
    width: 100%;
    background-color: #eee;
    margin-bottom:50px;
}

/*浏览量*/
.el_liulanliang {
    width: 40px;
    height: 15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: none;
}

.el_liulanliang img {
    width: 15px;
}

.el_loaddowneyeNums {
    font-size: 13px;
}

#yeMenu {
    position: absolute;
    top: 73px;
}


/*中间图片*/
.banner {
    width: 100%;
    height: 270px;
    position: relative;
    margin: 83px auto;
    margin-bottom: 0;
    overflow: hidden;
}

.banner img {
    background-repeat: no-repeat;
    text-align: center;
    height: auto;
    display: block;
    float: left;
}


/* 菜单  */
.hc_lnav{
	width:55%;
	height:270px;
	background-color:#ccc;
	opacity:0.8;
	position:absolute;
	top:83px;
	left:15%;
}
#el_box{
	width:100%;
	height:100%;
	position:relative;
}
#txBox{
	height:100%;
	line-height:50px !important;
	color:white;
	text-align:center;
	position:absolute;
	left:0;
	top:0;
	background-color:#333;
	width:130px;
	font-size:16px;
}
.tx{
	height:50px;
	width:100%;
	background-color:#111;
	margin-bottom:10px;
	margin-top:5px;
}
.tx:hover{
	background-color:#ccc;
	color:black;
}
.box{
	height:100%;
	width:70%;
	position:absolute;
	right:0;
}
.box a{
		color:black;
	}
.box li{
	list-style:none;
}
.knowledgeTypeClass{
	margin:20px 0;
}
.knowledgeTypeClass dt{
	font-size:15px;
}
.knowledgeTypeClass dd{
	height:30px;
	line-height:30px;
}
.knowledgeTypeClass dd a{
	margin:0 20px;
}
.knowledgeTypeClass dd a:first-child{
	display:inline-block;
	width:27%;
}
.knowledgeTypeClass dd:nth-child(6) a{
		width:100%;
	}
.knowledgeTypeClass dd a:hover{
	color:red;
}






