.pricing__item #ul li{
            list-style: none;
            float:left;
        }
.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto 3em;
    color:black;
}

/* Yama */
.pricing--yama .pricing__item {
    /*margin: 1em;
    padding: 0 0 2em;*/
    background: #EEEEEE;
    height: 53px;
}

.pricing--yama .pricing__title {
    font-family: 'Playfair Display', serif;
    font-size: 2.35em;
    font-weight: 900;
    line-height: 1;
    width: 290px;
    margin: 0 auto;
    padding: 1em 1em 0em;
}

.pricing__amp {
    padding: 0.15em 0 0.1em;
    color: #0f0e0f;
}

.pricing--yama .pricing__sentence {
    margin-bottom: 2em;
    color: #555357;
}

.pricing--yama .pricing__price {
    /*font-size: 2em;*/
    /*font-weight: bold;*/
    position: relative;
    z-index: 10;
    overflow: hidden;
    /*padding: 0.75em;*/
    cursor: default;
    color: #ef7d46;
    background: #EEEEEE;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    
    padding-right: 0px;
    border-right-width: 26px;
    margin-right: 16px;

}

.pricing--yama .pricing__item:hover .pricing__price {
    color: black;
}

.pricing--yama .pricing__price::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #EEEEEE;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(-150%, 0, 0) skewX(40deg);
    transform: translate3d(-150%, 0, 0) skewX(40deg);
}

.pricing--yama .pricing__item:hover .pricing__price::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) skewX(0deg);
    transform: translate3d(0, 0, 0) skewX(0deg);
}

.pricing--yama .pricing__period {
    font-size: 0.5em;
    font-weight: normal;
    display: block;
    color: #ccc;
}
.pricing__feature{
	font-size: small;
	margin-right:30px;
}
.pricing--yama .pricing__feature-list {
    margin: 0;
    padding: 1em 1em;
    list-style: none;
    text-align: center;
    color: #6a6563;
}

.pricing--yama .pricing__action {
    /*font-weight: bold;*/
    margin: 1em 2em;
    padding: 0em 1em;
    border-radius: 4px;
    background: #ef7d46;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    /*position:absolute;*/
}

.pricing--yama .pricing__action:hover,
.pricing--yama .pricing__action:focus {
    color: #ef7d46;
    background: #fff;
}

.pricing__action {
	text-decoration: none;
    color: inherit;
    border: none;
    background: none;
    
    
    margin-left: 0px;
    border-top-width: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    position:relative;
    left:20px;
    display: block;
    height:30px;
    width:60px;
    text-align: center;
    line-height:30px;
    bottom:20px;



}

.pricing__action:focus {
    outline: none;
}
.li_xuhao{
	
    padding-right: 42px;
    width: 0px;
    height: 1px;
    padding-left: 0px;
    border-left-width: 0px;

}
