<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.exam.mapper.question.CheckrecordMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.exam.bean.question.Checkrecord" >
    <id column="checkId" property="checkid" jdbcType="VARCHAR" />
    <result column="questionId" property="questionid" jdbcType="VARCHAR" />
    <result column="employeeName" property="employeename" jdbcType="VARCHAR" />
    <result column="checkDate" property="checkdate" jdbcType="TIMESTAMP" />
    <result column="checkStatus" property="checkstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    checkId, questionId, employeeName, checkDate, checkStatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.exam.bean.question.CheckrecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkrecord
    where checkId = #{checkid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from checkrecord
    where checkId = #{checkid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.exam.bean.question.CheckrecordExample" >
    delete from checkrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.exam.bean.question.Checkrecord" >
    insert into checkrecord (checkId, questionId, employeeName, 
      checkDate, checkStatus)
    values (#{checkid,jdbcType=VARCHAR}, #{questionid,jdbcType=VARCHAR}, #{employeename,jdbcType=VARCHAR}, 
      #{checkdate,jdbcType=TIMESTAMP}, #{checkstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.exam.bean.question.Checkrecord" >
    insert into checkrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        checkId,
      </if>
      <if test="questionid != null" >
        questionId,
      </if>
      <if test="employeename != null" >
        employeeName,
      </if>
      <if test="checkdate != null" >
        checkDate,
      </if>
      <if test="checkstatus != null" >
        checkStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        #{checkid,jdbcType=VARCHAR},
      </if>
      <if test="questionid != null" >
        #{questionid,jdbcType=VARCHAR},
      </if>
      <if test="employeename != null" >
        #{employeename,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null" >
        #{checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkstatus != null" >
        #{checkstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.exam.bean.question.CheckrecordExample" resultType="java.lang.Integer" >
    select count(*) from checkrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkrecord
    <set >
      <if test="record.checkid != null" >
        checkId = #{record.checkid,jdbcType=VARCHAR},
      </if>
      <if test="record.questionid != null" >
        questionId = #{record.questionid,jdbcType=VARCHAR},
      </if>
      <if test="record.employeename != null" >
        employeeName = #{record.employeename,jdbcType=VARCHAR},
      </if>
      <if test="record.checkdate != null" >
        checkDate = #{record.checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkstatus != null" >
        checkStatus = #{record.checkstatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkrecord
    set checkId = #{record.checkid,jdbcType=VARCHAR},
      questionId = #{record.questionid,jdbcType=VARCHAR},
      employeeName = #{record.employeename,jdbcType=VARCHAR},
      checkDate = #{record.checkdate,jdbcType=TIMESTAMP},
      checkStatus = #{record.checkstatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.exam.bean.question.Checkrecord" >
    update checkrecord
    <set >
      <if test="questionid != null" >
        questionId = #{questionid,jdbcType=VARCHAR},
      </if>
      <if test="employeename != null" >
        employeeName = #{employeename,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null" >
        checkDate = #{checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkstatus != null" >
        checkStatus = #{checkstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where checkId = #{checkid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.exam.bean.question.Checkrecord" >
    update checkrecord
    set questionId = #{questionid,jdbcType=VARCHAR},
      employeeName = #{employeename,jdbcType=VARCHAR},
      checkDate = #{checkdate,jdbcType=TIMESTAMP},
      checkStatus = #{checkstatus,jdbcType=VARCHAR}
    where checkId = #{checkid,jdbcType=VARCHAR}
  </update>
</mapper>