@CHARSET "UTF-8";
        .col-md-12>.row {
            margin: 10px !important;
        }

        #overhaulInfo {
            width: 94%;
            margin: 20px 3%;
        }
          #overhaulInfo table{
            width:100%;
            font-size:13px;
        }

        #overhaulInfo tr {
            border: 1px solid rgb(245, 245, 245);
            height: 35px;
            line-height: 35px;
        } 
      /*   #overhaulInfo tr:last-child {
            height:80px;
        } */
       /*  #overhaulInfo tr:last-child th{
            line-height:80px;
        } */

         #overhaulInfo th {
            border: 1px solid rgb(245, 245, 245);
            background-color:#ddd;
            text-align: center;
            font-weight:bolder;
        }

        #overhaulInfo td {
            border: 1px solid rgb(245, 245, 245);
            text-align: center;
        } 
         /* #overhaulInfo ul{
		 	width:80%;
		 	margin-left:10%;
		 }
		 #overhaulInfo ul li{
            list-style:none;
            width:80%;
		 	color:#333 !important;
        } */
		.line-first{
		    font-size:12px;
		
		}
		.line-first span:first-child{
		    color:#6096c4;
		    position:relative;
		    right:7px;
		    font-size:25px;
		    top:3px;
		}
		.line-first span:last-child{
			margin-left:2%;
		}
        .title .title-center {
            display: inline-block;
            background-color: #6096c4;
            font-size: 15px;
            font-weight: bold;
            font-family: '微软雅黑';
            line-height: 2.1em;
            color: white;
            padding:0 40px;
            border-radius: 20px;
            position:relative;
            right:30px;
            width:70%;
        }
		.title-center span{margin-left:2%;}
         .title {
            background-color: #6096c4;
        }
        .el_info{
            border-left: 1px solid #6096c4;
            padding-left:2%;
        }
        .el_info span{
         	margin-left:2%;
        }
        
        
       /*  #overhaulInfo span{
            font-size:13px;
            position:relative;
            right:30px;
        }
        #overhaulInfo table{
            width:100%;
            font-size:13px;
        }

        #overhaulInfo tr {
            border: 1px solid rgb(245, 245, 245);
            height: 35px;
            line-height: 35px;
        }
        #overhaulInfo tr:last-child {
            height:80px;
        }
        #overhaulInfo tr:last-child th{
            line-height:80px;
        }

        #overhaulInfo th {
            border: 1px solid rgb(245, 245, 245);
            background-color:#ddd;
            text-align: center;
            font-weight:bolder;
        }

        #overhaulInfo td {
            border: 1px solid rgb(245, 245, 245);
            text-align: center;
        }
         */
        .el_topButtonP{
        	position:relative;
        	height:30px;	
        	width:100%;
        	margin-top:30px;
        	margin-bottom:4px;
        }
        
        .el_topButton2{
        	width:60%;
        	position:absolute;
        	right:20px;
        	top:0;
        	text-align:right;
        }
         .el_topButton2 a,
         .el_topButton2 a:hover{
         	text-decoration:none;
         }
        
        .el_topButton2 button{
        	margin-left:10px;
        	position:relative;
        	bottom:5px;
        }
        
/* 添加员工  */    
.big-photo{
	position:absolute;
	right:12%;
	top:25px;
	width:90px;
	height:110px;
	border:3px inset #ccc;
}
.el_modellist0 {
    margin: 10px;
    margin-bottom: 5px;
    width: 90%;
}
.el_spans0{
	text-align:right;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width:100px;
}
.el_modellist01 {
    margin: 10px;
    margin-bottom: 5px;
	width:70%;
}
/*单选按钮的字体大小*/
.el_modellist0  label{
    font-size:13px;
}
.el_modellist02{
	float:right;
	margin-right:50px;
	margin-bottom:10px;
}
#el_addEmp {
	font-size:13px;
}
        
/*违章情况表*/
.el_BRCase {
	width: 100%;
}
.el_BRCase caption {
	font-size: 20px;
	margin-top: 10px;
}

.el_BRCase tr {
	height: 30px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.el_BRCase tr th {
	text-align: center;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.el_BRCase tr td {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	min-width: 80px;
	padding: 5px;
}
    
    /* 大修人 */
.el_overhaulPerson{
	padding:0;
}    
.el_overhaulPerson a{
	width:100%;
	display:block;
	font-weight:bolder;
	color:blue;
}
